@{
    ViewData["Title"] = "Home Page";
}
@model BooksViewModel

<!---<div class="text-center">
    <h1 class="display-4">Books</h1>
</div>-->
@foreach (var book in Model.Books)
{
    <partial name="BookInfo" model="book" />
}
<center>
    <!-- Only show pagination if there is more than 1 page -->
    @if (Model.PageInfo.NumPages > 1)
    {
        <div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
    }
</center>
